[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alqrfe"]
	path = alqrfe
	url = https://github.com/cran/alqrfe
[submodule "pqrfe"]
	path = pqrfe
	url = https://github.com/cran/pqrfe
